

/* ------------ */
.jumbotron {
  background-image: url('assets/color.jpg');
  height:750px;
  text-align: center;
}
h1{
    text-align: center;
    color:white;
}
section {
  background-color:none;
}
.display-3{
  text-align: center;
  margin-top:150px;
  font-size:86px;
}
.lead{
  font-size:34px;
  color:white;
}
small{
  color:white;
}
.rounded-pill {
  border-radius: 5rem;
}
.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

p{
  font-weight: med;
  font-size: 18px;
}
#sticky-footer {
  flex-shrink: none;
}

/*porfolio*/
.container{
    background:#cac7cc;
}

/*contact*/
 body{
  background-image: url('assets/color.jpg');
 }
 .contact-section{
   margin-top:300px;
 }
.card.py-4{
  border-radius: 18px;
}
#sticky-footer-2{
  flex-shrink: none;
  margin-top:250px;
  width:100%;
}
  html {
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
    .card{
      width:95%;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }
  
